{% extends 'base.html' %}
{% block content %}

<div class="container">
<br>


   {% if msg %}
   <h3>{{ msg }}</h3>
   {% endif %}
  <br>
   <h3>Upload new File</h3>
  <br>
   <form method=post enctype=multipart/form-data>
    {% csrf_token %}
     <p><input type=file name=file multiple>
        <p><input type="text" name="question">
          <input type=submit value=ASK>
          <br>
          <input type="button" value="Reset" onClick="this.form.reset()" />
          
      </form>
<br>
<br>

   <h3>Result:</h3>
  
   {% if ans_of_q0  %}
   <br>
     <b> Query :  {{ ans_of_q0 }} </b></p><br>
     <b> Answer : {{ ans_of_q1 }} </b></p><br>
     <b>Title :  {{ ans_of_q2 }} </b></p><br>
     <b>Paragraph {{ ans_of_q3 }} </b></p><br>
{%endif%}


</div>
<br>
<br>
<br>
{% endblock %}